.bug,
.dark,
.dragon,
.electric,
.fairy,
.fighting,
.fire,
.flying,
.ghost,
.grass,
.ground,
.ice,
.normal,
.poison,
.psychic,
.rock,
.steel,
.water {
  border: 1px solid gray;
  width: 10rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.bug {
  background-color: #90a955;
}
.electric {
  background-color: #ffe169;
}
.fire {
  background-color: #f8ad9d;
}
.grass {
  background-color: #84a98c;
}
.normal,
.steel {
  background-color: #bcb8b1;
}
.rock,
.ground {
  background-color: #edc531;
}
.fighting {
  background-color: #38160d;
}
.dark {
  background-color: #463f3a;
}
.fairy,
.psychic {
  background-color: #ffe8e1;
}
.water,
.ice {
  background-color: #a2d2ff;
}
.dragon,
.flying,
.ghost {
  background-color: #a2708a;
}
.poison {
  background-color: #b18fcf;
}
