body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body,
input {
  font-family: "Pokemon Fire Red", sans-serif;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root{
  --pokedex-bkg-out: #b6ad90; 
  --pokedex-bkg-in: #ede0d4
}
/*
d5bdaf
b2967d
a68a64
c6ac8f
E1DABE
ddbea9
*/