/* .box {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-attachment: scroll;
} */

.pokemons {
  /* width: 100%; */
  position: relative;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;
  row-gap: 2rem;
  padding: 2rem;
  background-color: var(--pokedex-bkg-in);
  min-height: 72vh;
}

.poke {
  position: fixed;
  left: 50%;
}

/*///////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 480px) {
  .pokemons {
    grid-template-columns: repeat(2, 1fr);
  }
 
}
