.pokemons {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 2rem;
  row-gap: 2rem;
  padding: 2rem;
  background-color: var(--pokedex-bkg-in);
  min-height: 72vh;
}

.poke {
  position: fixed;
  left: 50%
}
