.filters {
  display: flex;
  flex-direction: row;
  background-color: var(--pokedex-bkg-out);
  gap: 6rem;
  height: 4rem;
  width: 100%;
  align-items: center;
  padding-left: 4rem;
}

.search {
  display: flex;
  flex-direction: row;
  padding-left: 4rem;
}

.types {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding-left: 4rem;
}

.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding-left: 4rem;
}

.h3 {
  color: white;
}
