.mainDiv > select {
  text-transform: uppercase;
  width: 8rem;
  height: 1.75rem;
  border: 1px solid #ddd5d0;
  background-color: #fcf6bd;
  border-radius: 0.5rem;
  text-align: center;
  color: #606c38;
  font-weight: bold;
  cursor: pointer;
}

.mainDiv > select:hover{
  animation: origin 1s linear infinite;
}

@keyframes origin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 380px) {
  .mainDiv > select{
    width: 7rem;
  }
}