/* .nav {
  background-color: var(--pokedex-bkg-out);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 3.3rem;
} */
.btnMuted {
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  border: transparent;
  cursor: pointer;
  background-color: #b175ea;
}

.btnMuted:hover {
  animation: btn 1s linear infinite;
}

.pokemon {
  width: 8.3rem;
  height: 3rem;
}

.pokemon:hover {
  animation: pokem 1s linear infinite;
}

.create {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  text-decoration: none;
}

.create:hover {
  animation: newPoke 1s linear infinite;
}

.h3 {
  color: white;
  font-size: x-large;
  -webkit-text-stroke: 0.5px black;
}

.newpoke {
  width: 3rem;
  height: 3rem;
}

@keyframes newPoke {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pokem {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes btn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
